* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: normal;
    height: 30vh;
    background-color: hsl(289, 45%, 79%);
}

.container {
    width: min(500px, 90%);
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    background-color: #ffffff;
}

.container1 {
    width: min(500px, 90%);
    text-align: center;
    padding: 10px;
    position: relative;
    top: 250px;
    right: 500px;
    border-radius: 16px;
    background-color: #ffffff;
}

.name0 {
    margin-bottom: 10px;
    font-size: 20px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input {
    padding: 5px;
    cursor: pointer;
}

button {
    border: 2px solid #000000;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 10px;

}

.palette {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.palette1 {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.color-box {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.color-box1 {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 5px;
    border: solid #000000;
    cursor: pointer;
}